/* Alinear el contenedor completo al centro */
body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Darle estilo al contenedor del forms */
.form-signin {
    max-width: 350px;
    padding: 5rem;
    background: #d6b9e2;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

/* Estilo de como se ven los campos de texto de username y passowrd */
.form-signin input[type="email"] {
    font-size: medium;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.form-signin input[type="password"] {
    font-size: medium;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3e3e3;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 2px;
}

