body {
    display:flex;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.form-signin {
    max-width: 200px;
    padding: 2rem;
    background: #b2bdc8;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }