<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel ="stylesheet" href="../Styles/header.css">
</head>
<body>
    <header>
    <h1>Desarrollo Web / Logo</h1>
            <!-- Navigation bar -->
            <nav>
                <ul>
                    <li><a href="../index.html">Login</a></li>
                    <li><a href="../Paginas/home.html">Home</a></li>
                    <li><a href="../Paginas/Contenido.html">Contenido</a></li>
                    <li><a href="../Paginas/aboutUs.html">About Us</a></li>
                    <li><a href="../Paginas/Other.html">Other</a></li>
                    <button onclick="cerrarSesion()">Cerrar sesión</button>
                </ul>
            </nav>
        </header>
</body>
</html>