header {
    background-color: #232323; /* Color de fondo oscuro */
    color: white; /* Color de texto */
    padding: 20px;
    display: flex; /* Alinea logo y nav horizontalmente */
    justify-content: space-between; /* Separa logo y nav */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    box-sizing: border-box;
}
header h1 {
    margin: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

#btn {
    background-color: #e8c2e4;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}