html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.contenedor {
  display: flex;
  flex-wrap: wrap; /*Evita desbordamiento de imagenes*/
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px; /*Separar del navbar */
  text-align: center; 
  box-sizing: border-box;
}

.column {
  flex: 1; 
  max-width: 420px;
  background: #ffffff;
  padding: 20px;
  border: 2px solid black;   /* Borde */
  border-radius: 8px; 
  box-sizing: border-box;
  overflow: hidden; /* evita que la imagen se salga */
}

.column img{
    width: 100%;
    height: auto;
    display: block;
}

main h1 {
    text-align: center;
}
main p {
  text-align: center;
}
footer {
  text-align: center;  /* Centra el texto */
  padding: 20px;
  background-color: #f2f2f2;
}

h2{
  text-align: center;
}
