/* Alinear el contenedor completo al centro */
body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: rgb(253, 240, 255);
}

/* Darle estilo al contenedor del forms */
.page {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-singup {
  max-width: 350px;
  padding: 5rem;
  background: #ccaada;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}